#accueil, #mission, #propos, #contact{
  padding-top: 50px;
  padding-left: 100px;
  padding-right: 150px;
  padding-bottom: 50px;
}

.lol{
  padding-top: 75px;
  color: red;
}

.soin{
  padding-top: 50px;
}
