<!DOCTYPE html>
<html lang="en" dir="ltr">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700" rel="stylesheet">
    <link rel="stylesheet" href="../assets/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script>
    <head>
        <title>About</title>
    </head>
    <body class="columns">
        <section class="column is-3 hero is-medium is-warning is-bold index">
                <aside class="menu">
                        <ul class="menu-list">
                            <li><a class="title-menu"><span>Convivial</span></a></li>
                            <p class="slogan">
                               <span>Mouvement d'insertion</span>
                                <br>
                                <span>des réfugiés</span>
                            </p>
                        </ul>
                        <p class="menu-label">
                        Vous cherchez à:
                        </p>
                        <ul class="menu-list">
                            <li>
                        <a><strong>S'Installer</strong></a>
                            <ul>
                              <li><a>Service Social</a></li>
                              <li><a>Logement</a></li>
                              <li><a>Aide Matérielle</a></li>
                              <li><a>Réinstallation</a></li>
                            </ul>
                          </li>
                        <li><a><strong>S'Insérer</strong></a>
                          <ul>
                                <li><a>Guidance socioprofessionnelle</a></li>
                                <li><a>Cours de Français</a></li>
                                <li><a>Ateliers</a></li>
                                <li><a>Accompagnement des réfugiés âgés</a></li>
                            </ul>
                        </li>
                    <li><a><strong>Sensibiliser</strong></a></li>
                </ul>
                <p class="menu-label">
                À Propos
                </p>
                <ul class="menu-list">
                    <li><a>Qui sommes-nous ?</a></li>
                    <li><a>Notre Mission</a></li>
                    <li><a>Contact</a></li>
                    <li><a>Newsletter</a></li>
                </ul>
                <p class="menu-label">
                    Mouvement d insertion des Réfugiés
                </p>
                <p class="menu-label">
                    Rue du Charroi 33-35, 1190 Bruxelles
                </p>
                <p class="menu-label">
                    T 02 503 43 46
                </p>
            </aside>
        </section>
        <section class="column contentContainer is-9">
            <h2>Qui sommmes-nous ?</h2>
            <h3 class="title is-3">L’équipe</h3>
            <p>
            Le mouvement Convivial rassemble aujourd’hui environ 80 travailleurs :
            Une trentaine de personnes salariées, rémunérées par les subsides publics;
            Une trentaine de personnes sous contrat article 60 : bénéficiaires de l’aide sociale, engagées par leur CPAS et mises a la disposition de Convivial pendant une période determinée (18 mois en moyenne).
            </p>
            <br>
            <p>
            Convivial leur offre un cadre de travail et un accompagnement se voulant être un <strong>tremplin pour un nouvel emploi</strong> ;
            Une vingtaine de personnes volontaires, à temps partiel.
            Soit une équipe de plus de trentaine-cinq nationalités offrant la possibilité d’un accueil dans une langue familière à la plupart des bénéficiaires. Des Réfugiés se retrouvent dans tous les services, à tous les niveaux de responsabilité, comme salariés,
            travailleurs sous contrat article 60 ou volontaires.
            </p>
            <figure class="image">
                <img src="../assets/img/cover.jpg">
            </figure>
        <h3 class="title is-3" >La structure</h3>
            <p>
            Afin de coller aux réalites institutionnelles belges, 2 asbl ont été créées au sein du mouvement Convivial :
            l’asbl-vzw Convivium, bicommunautaire axée sur l’installation et la guidance socioprofessionnelle;
            l’asbl Convivialités, unicommunautaire francophone, axée sur l’<strong>insertion et la cohésion sociale</strong>.
            Ces 2 asbl forment le mouvement Convivial. Chacune de ces asbl est dirigée par un Conseil d’Administration. L’Assemblée Generale, qui rassemble les membres de chaque asbl, élit les administrateurs et approuvent les comptes et activités. La gestion quotidienne du mouvement est assurée par la Direction et le Comité de Coordination qui est composé du directeur et des responsables des différents services de Convivial.
            </p>
            <figure class="image">
                <img src="../assets/img/cover-1.jpg">
            </figure>
        <h3 class="title is-3">Subsides</h3>
            <p>
            La majorité des financements de Convivial proviennent des subsides publics. Actiris, l’ONEM et les CPAS apportent un soutien récurrent dans l’engagement du personnel de l’ensemble du mouvement Convivial (ACS, conditions Activa, contrats Article60,…).
            </p>
            <br>
            <p>
            L’asbl-vzw Convivium est subsidiée par : Fedasil – Le Fonds Asile Migration Intégration (AMIF) – La Région de Bruxelles Capitale (insertion par le logement – encadrement du personnel employé dans l’association en situation de remise à l’emploi (ILDE)) – La Commission Communautaire Commune (COCOM) – De Vlaamse Gemeenschapscommissie (VGC).
            L’asbl Convivialités est subsidiée par : La Commission Communautaire Française (COCOF) (cohésion sociale – Atelier de Formation par le Travail (AFT)) – Le Fonds d’Impulsion à la Politique des Immigrés (FIPI) et le Fonds Social Européen (FSE).
            Chaque année, des dons privés nous parviennent, à la fois en réponse à des appels a dons spécifiques mais aussi de manière continue tout au long de l’année.
            </p>
            <br>
            <p>
            Par ailleurs, plusieurs associations, entreprises et
            fondations soutiennent Convivial dans le cadre de projets particuliers.
            </p>
        </section>
  </body>
</html>
