<!DOCTYPE html>
<html lang="en" dir="ltr">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,400i,500,700" rel="stylesheet">
    <link rel="stylesheet" href="../assets/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script>
    <head>
        <title>Contact</title>
    </head>
    <body class="columns">
        <section class="column is-3 hero is-medium is-warning is-bold index">
            <aside class="menu">
                <ul class="menu-list">
                    <li><a class="title-menu"><span>Convivial</span></a></li>
                    <p class="slogan">
                       <span>Mouvement d'insertion</span> 
                        <br>
                        <span>des réfugiés</span>
                    </p>
                </ul>
                <p class="menu-label">
                Vous cherchez à:
                </p>
                <ul class="menu-list">
                    <li>
                <a><strong>S'Installer</strong></a>
                    <ul>
                      <li><a>Service Social</a></li>
                      <li><a>Logement</a></li>
                      <li><a>Aide Matérielle</a></li>
                      <li><a>Réinstallation</a></li>
                    </ul>
                  </li>
                <li><a><strong>S'Insérer</strong></a>
                  <ul>
                        <li><a>Guidance socioprofessionnelle</a></li>
                        <li><a>Cours de Langues</a></li>
                        <li><a>Ateliers</a></li>
                        <li><a>Accompagnement des réfugiés âgés</a></li>
                    </ul>
                </li>
            <li><a><strong>Sensibiliser</strong></a></li>
        </ul>
        <p class="menu-label">
        À Propos
        </p>
        <ul class="menu-list">
            <li><a>Qui sommes-nous ?</a></li>
            <li><a>Notre Mission</a></li>
            <li><a>Contact</a></li>
            <li><a>Newsletter</a></li>
        </ul>
        <p class="menu-label">
            Mouvement d insertion des Réfugiés
        </p>
        <p class="menu-label">
            Rue du Charroi 33-35, 1190 Bruxelles
        </p>
        <p class="menu-label">
            T 02 503 43 46
        </p>
        <a href="http://" class="social"><i class="fab fa-facebook-f fa-2x"></i></a>
        <a href="http://" class="social"><i class="fab fa-instagram fa-2x"></i></a>
        <a href="" class="button donate is-rounded social is-small">Donate</a>
    </aside>
        </section>
        <section class="column contentContainer is-9">
          <h2>Contact</h2>   
          <div class="field">
          <label class="label">Titre</label>
            <div class="control">
              <label class="radio">
                <input type="radio" name="question">
                Mme
              </label>
              <label class="radio">
                <input type="radio" name="question">
                Melle
              </label>
              <label class="radio">
                <input type="radio" name="question">
                Mr
              </label>
            </div>
          </div>
          <div class="field">
            <label class="label">Nom</label>
            <div class="control">
              <input class="input" type="text" placeholder="Dickmans">
            </div>
          </div>

          <div class="field">
            <label class="label">Prénom</label>
            <div class="control has-icons-left has-icons-right">
              <input class="input" type="text" placeholder="Charles">
              <span class="icon is-small is-left">
                <i class="fas fa-user"></i>
              </span>
            </div>
          </div>

          <div class="field">
            <label class="label">E-mail</label>
            <div class="control has-icons-left has-icons-right">
              <input class="input" type="email" placeholder="charlesdickmans@gmail.com">
              <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
              </span>
          </div>
          </div>

          <div class="field">
            <label class="label">Objet</label>
            <div class="control">
              <div class="select">
                <select>
                  <option>Selectionner</option>
                  <option>With options</option>
                </select>
              </div>
            </div>
          </div>

          <div class="field">
            <label class="label">Votre message</label>
            <div class="control">
              <textarea class="textarea" placeholder="Lorem ipsum"></textarea>
            </div>
          </div>
          <div class="file">
            <label class="label">Documents</label>
            <label class="file-label">
              <input class="file-input" type="file" name="resume">
              <span class="file-cta">
                <span class="file-icon">
                  <i class="fas fa-upload"></i>
                </span>
                <span class="file-label">
                  Choisir un fichier…
                </span>
              </span>
            </label>
          </div>

          <div class="field">
            <label class="label">Format de réponse</label>
            <div class="control">
              <label class="radio">
                <input type="radio" name="question">
                HTML
              </label>
              <label class="radio">
                <input type="radio" name="question">
                TXT
              </label>
            </div>
            </div>

          <div class="field">
            <div class="control">
              <button class="button is-warning is-medium">Contact</button>
            </div>
          </div>
        </section>
  </body>
</html>
