<!DOCTYPE html>
  <head>
    <html lang="fr" dir="ltr">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,400i,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script>
    <link rel="stylesheet" href="../assets/style.css">
    <title>Accueil Convivial</title>
        </head>
        <body class="columns">
          <section class="column is-3 hero is-medium is-warning is-bold index">
              <aside class="menu">
                  <ul class="menu-list">
                      <li><a class="title-menu"><span>Convivial</span></a></li>
                      <p class="slogan">
                         <span>Mouvement d'insertion</span> 
                          <br>
                          <span>des réfugiés</span>
                      </p>
                  </ul>
                  <p class="menu-label">
                  Vous cherchez à:
                  </p>
                  <ul class="menu-list">
                      <li>
                  <a><strong>S'Installer</strong></a>
                      <ul>
                        <li><a>Service Social</a></li>
                        <li><a>Logement</a></li>
                        <li><a>Aide Matérielle</a></li>
                        <li><a>Réinstallation</a></li>
                      </ul>
                    </li>
                  <li><a><strong>S'Insérer</strong></a>
                    <ul>
                          <li><a>Guidance socioprofessionnelle</a></li>
                          <li><a>Cours de Langues</a></li>
                          <li><a>Ateliers</a></li>
                          <li><a>Accompagnement des réfugiés âgés</a></li>
                      </ul>
                  </li>
              <li><a><strong>Sensibiliser</strong></a></li>
          </ul>
          <p class="menu-label">
          À Propos
          </p>
          <ul class="menu-list">
              <li><a>Qui sommes-nous ?</a></li>
              <li><a>Notre Mission</a></li>
              <li><a>Contact</a></li>
              <li><a>Newsletter</a></li>
          </ul>
          <p class="menu-label">
              Mouvement d insertion des Réfugiés
              <br>
              Rue du Charroi 33-35, 1190 Bruxelles
              <br>
              T 02 503 43 46
          </p>
          <a href="http://" class="social"><i class="fab fa-facebook-f fa-2x"></i></a>
          <a href="http://" class="social"><i class="fab fa-instagram fa-2x"></i></a>
          <a href="" class="button donate is-rounded social is-small">Donate</a>
      </aside>
            <!-- <div class="button donate is-big is-inverted is-outlined is-warning">
                Donate
            </div> -->
          </section>
          <section class="column contentContainer is-9">
          <h2>Accueil</h2> 
          <div class="accueilSlogan">
              <p>Demandeurs d'asile ou réfugiés ?</p>
              <p>Asylum seekers or refugees?</p>
              <p>طالبي اللجوء أو اللاجئين؟</p>
              <p>Просители убежища или беженцы?</p> 
              <p>Asielzoekers of vluchtelingen?</p>
          </div>     
          <div class="containerVideo">    
            <iframe src="https://www.youtube.com/embed/QsgdzYnGTEI" frameborder="0" class="video" allowfullscreen></iframe>
          </div>  
          <!-- <p class="legend">Convivial © 2018 All Rights Reserved.</p> -->
          <div class="button is-warning is-medium">Poser une question</div>
            <!-- <footer class="footer">
                <p>Convivial © 2018 All Rights Reserved</p>
                <p>Mouvement d insertion des Réfugiés - Rue du Charroi 33-35, 1190 Bruxelles - T 02 503 43 46</p>
            </footer> -->
          </section>
        </body>
</html>
