<!DOCTYPE html>
<html lang="en" dir="ltr">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700" rel="stylesheet">
    <link rel="stylesheet" href="../assets/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script>
    <head>
        <title>S'Insérer</title>
    </head>
    <body class="columns">
        <section class="column is-3 hero is-medium is-warning is-bold index">
                <aside class="menu">
                        <ul class="menu-list">
                            <li><a class="title-menu"><span>Convivial</span></a></li>
                            <p class="slogan">
                               <span>Mouvement d'insertion</span> 
                                <br>
                                <span>des réfugiés</span>
                            </p>
                        </ul>
                        <p class="menu-label">
                        Vous cherchez à:
                        </p>
                        <ul class="menu-list">
                            <li>
                        <a><strong>S'Installer</strong></a>
                            <ul>
                              <li><a>Service Social</a></li>
                              <li><a>Logement</a></li>
                              <li><a>Aide Matérielle</a></li>
                              <li><a>Réinstallation</a></li>
                            </ul>
                          </li>
                        <li><a><strong>S'Insérer</strong></a>
                          <ul>
                                <li><a>Guidance socioprofessionnelle</a></li>
                                <li><a>Cours de Langues</a></li>
                                <li><a>Ateliers</a></li>
                                <li><a>Accompagnement des réfugiés âgés</a></li>
                            </ul>
                        </li>
                    <li><a><strong>Sensibiliser</strong></a></li>
                </ul>
                <p class="menu-label">
                À Propos
                </p>
                <ul class="menu-list">
                    <li><a>Qui sommes-nous ?</a></li>
                    <li><a>Notre Mission</a></li>
                    <li><a>Contact</a></li>
                    <li><a>Newsletter</a></li>
                </ul>
                <p class="menu-label">
                    Mouvement d insertion des Réfugiés
                    <br>
                    Rue du Charroi 33-35, 1190 Bruxelles
                    <br>
                    T 02 503 43 46
                </p>
            </aside>
        </section>
        <section class="column contentContainer is-9">
        <h2>S'insérer</h2>
                <h3 class="title is-3" id="guidance-socioprofessionnelle">Guidance socioprofessionnelle</h3>
                    <p>
                        Ce service accompagne individuellement et collectivement les Réfugiés installés afin de <strong> favoriser son intégration par l’emploi, la formation, la reconnaissance et la consolidation de ses compétences.</strong>
                    </p>
                    <br>
                    <p>
                        Le Réfugié a souvent des difficultés à identifier par lui-même les structures professionnelles ou les formations qualifiantes qui répondent réellement à ses compétences, ses expériences et ses aspirations. Il a également des difficultés à identifier dans son parcours les compétences et les expériences qu’ils peuvent valoriser.
                    </p> 
                    <br>
                    <ul class="topics">
                       <li>
                            Un bilan des compétences;
                        </li>
                        <li>
                            Une réflexion sur les besoins et les aspirations;
                        </li>
                        <li>
                            Une ébauche d’un projet réaliste.
                        </li>
                    </ul>
                    <br>
                    <p>
                        Les Réfugiés sont souvent désarmés et seuls face à un système belge socioprofessionnel complexe. Il n’a pas les connaissances concernant le <strong>système belge de formation et d’emploi</strong>.
                    </p>
                    <br>
                    <ul class="topics">
                       <li>
                            Information sur le monde de l’emploi en Belgique (structure institutionnelle, agences de formations et d’emploi, aides régionales et fédérales, …);
                        </li>
                        <li>
                            Accompagnement pour la demande d’équivalence de diplôme et la validation des compétences;
                        </li>
                        <li>
                            Aide à la rédaction du CV et de la lettre de motivation et préparation d’entretien d’embauche;
                        </li>
                        <li>
                            Analyse du contrat de travail.
                        </li>
                    </ul>
                    <br>
                    <p>
                        Les Réfugiés peuvent être confrontés à un système qui leur semble bureaucratique. Perdus et désorientés, ils sont souvent découragés dans leurs <strong>démarches d’insertion professionnelle</strong>.
                    </p>
                    <br>
                    <ul class="topics">
                       <li>
                            Un suivi systématique tous les 3 mois pendant 1 année;
                        </li>
                        <li>
                            Des groupes de paroles pour écarter les obstacles éventuels, redonner confiance et relancer le bénéficiaire.
                        </li>
                        <p class="tag is-warning">guidance@convivial.be</p>
                    </ul>
                <br>
                <h3 class="title is-3 separate" id="cours-langues">Cours de langues</h3>
                    <p>
                        Les réfugiés ne parlent souvent ni le français, ni le néerlandais. Une première étape dans le parcours d’insertion est 
                        l’apprentissage d’une des langues nationales.
                    </p>
                    <br>
                    <p>
                        Convivial propose, en partenariat avec l’association « Lire et Ecrire », une formation en « Français Langue Étrangère » pour 
                        des personnes qui ne parlent pas français. Elle a pour but de donner les premières bases de français oral indispensables pour établir 
                        un début de communication.
                    </p>
                    <br>
                    <p>
                        Pour les réfugiés qui souhaitent apprendre le néerlandais, Convivial les oriente vers la Maison du Néerlandais.
                    </p>
                    <br>
                    <div class="box">
                        <article class="media">
                            <div class="media-content">
                                <div class="content">
                                    <p><strong class="title is-5">Informations pratiques</strong></p>
                                    <br>
                                    <p><strong>Durée :</strong> 4 mois – 2 sessions par an</p>
                                    <p><strong>Horaires :</strong> 20 heures par semaine du lundi au vendredi de 8h30 à 12h30</p>
                                    <p><strong>Prochaines sessions :</strong> du 24 septembre 2018 au 25 janvier 2019</p>
                                    <p><strong>Niveau:</strong> débutant (pour des personnes ne parlant pas français)</p>
                                    <p><strong>Conditions d’admission :</strong> Être réfugié ou demandeur d’asile, ne parlant pas français.</p>
                                    <p class="tag is-warning">guidance@convivial.be</p>
                                </div>
                            </div>
                        </article>
                    </div>  
                <br>
                <h3 class="title is-3 separate" id="ateliers">Ateliers</h3>
                <h3 class="title is-5">Atelier de Formation par le Travail en menuiserie</h3>
                    <p>
                        L’Atelier de Formation par le Travail (AFT) en menuiserie vise à accompagner les demandeurs d’emploi, particulièrement les plus éloignés du marché du travail, vers un emploi dans le secteur de la menuiserie.
                        Cet atelier propose une formation pré-qualifiante en menuiserie : connaissance du bois, techniques d’assemblage, utilisation de divers outils et machines, français et calculs élémentaires, …
                        Cet atelier permet aussi un renforcement social et psychologique des stagiaires et un soutien pour développer un projet de formation professionnelle dans le domaine de la menuiserie.
                    </p> 
                    <br>
                    <div class="box">
                            <article class="media">
                                <div class="media-content">
                                    <div class="content">
                                        <p><strong class="title is-5">Informations pratiques</strong></p>
                                        <br>
                                        <p><strong>Durée :</strong> 4 mois</p>
                                        <p><strong>Horaires :</strong> 35 heures par semaine</p>
                                        <p><strong>Prochaines sessions :</strong>
                                            <ul>
                                                <li>du 12/03/18 au 11/07/18 </li>
                                                <li>du 27/08/18 au 21/12/18</li>
                                            </ul>
                                        </p>    
                                        <p><strong>Conditions d’admission :</strong> Être demandeur d’emploi inscrit chez ACTIRIS</p>
                                        <p class="tag is-warning">guidance@convivial.be</p>
                                    </div>
                                </div>
                            </article>
                        </div>  
                    <h3 class="title is-5">Ateliers « Ma place en Belgique »</h3>
                    <p>
                        Ces ateliers d’initiation à la citoyenneté et au monde de l’emploi visent à donner aux réfugiés les clés de compréhension du fonctionnement de la vie en Belgique et du monde de l’emploi.
                    </p>
                    <br>
                    <p><strong>Ces ateliers proposent :</strong></p>
                    <br>
                    <ul class="topics">
                        <li>des repères pratiques et concrets pour gérer la vie quotidienne;</li>
                        <li>des repères au niveau historique, institutionnel, social et culturel afin de mieux comprendre le pays d’accueil, ses normes et ses valeurs et d’y trouver sa place;</li>
                        <li>des repères pour élaborer un projet de vie et d’insertion socioprofessionnelle et se mettre en route vers une formation ou un emploi;</li>
                        <li>des bases indispensables en informatique (Word, Excel, Powerpoint, Email, Navigation internet).</li>
                    </ul>
                    <br>
                    <p>Ces ateliers sont reconnus dans le cadre de la procédure d’obtention de la nationalité.</p>
                    <br>
                    <div class="box">
                            <article class="media">
                                <div class="media-content">
                                    <div class="content">
                                        <p><strong class="title is-5">Informations pratiques</strong></p>
                                        <br>
                                        <p>Convivial propose ces ateliers à raison de 7 sessions par an, sous forme de modules courts (sans informatique) ou longs (avec informatique), à raison de 4 demi-jours par semaine, en français ou en arabe.</p>
                                        <p><strong>Prochaines sessions :</strong> À venir</p>
                                        <p class="tag is-warning">citoyennete@convivial.be</p>
                                    </div>
                                </div>
                            </article>
                        </div>  
                    <br>
                    <h3 class="title is-3 separate" id="accompagnement">Accompagnement des réfugiés âgés</h3>
                    <p>
                        Les réfugiés âgés arrivent en Belgique à un âge où <strong> l’intégration dans un nouveau pays accueil est plus difficile.</strong> Certains ne parlent pas français et/ou sont analphabètes. Ils se retrouvent en Belgique isolés et souvent leur mobilité est réduite.
                    </p>
                        <br>
                    <p>
                        Un groupe d’une cinquantaine de réfugiés âgés, principalement originaires d’Afrique centrale (les « Mamies »), se retrouvent depuis plusieurs années régulièrement chez Convivial pour des activités d’entraide et de cohésion sociale combinant des cours d’alphabétisation, la préparation de samboussas et des cours de gym et d’aquagym.
                    </p>
                        <br>
                    <p>      
                        Suite au constat que plusieurs mamies avaient besoin d’être accompagnées dans leurs démarches, principalement celles à mobilité réduite ou celles communiquant difficilement en français, un  <strong>accompagnement social à domicile et sur le terrain</strong>, spécifique pour ces personnes âgées, a également été mis sur pied.
                    </p> 
                        <br> 
                    <p>    
                        Vieillir dans un milieu culturel différent du pays d’origine pose de nombreuses questions. C’est pourquoi, en 2013, Convivial et le groupe de mamies ont mené une réflexion dans le but de prévenir les difficultés liées au vieillissement que rencontrent les réfugiés âgés présents en Belgique. L’analyse de ces difficultés a fait émerger le rôle clé des proches susceptibles d’apporter un soutien dans le cadre d’une perte d’autonomie. Suite à cela, un projet pilote a été élaboré et initié avec le soutien de la COCOM, destiné à  <strong> identifier les aidants proches potentiels</strong> de nos bénéficiaires et à les inviter à  <strong> partager un cycle d’informations pensé en termes de prévention</strong>, destiné à les aider à mieux gérer les dépendances éventuelles que rencontrent, petit à petit, leurs proches et/ou amis.
                    </p>   
                        <br> 
                    <p>    
                        Des rencontres régulières avec les aidants proches ainsi formés accompagnent cette dynamique maintenant en place. De nouveaux réseaux de soutien et de visite des seniors sont également en cours de développement.
                    </p>
                    <p class="tag is-warning">collectif@convivial.be</p>
        </section>
  </body>
</html>
