<!DOCTYPE html>
<html lang="en" dir="ltr">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700" rel="stylesheet">
    <link rel="stylesheet" href="../assets/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script>
    <head>
        <title>About</title>
    </head>
    <body class="columns">
        <section class="column is-3 hero is-medium is-warning is-bold index">
                <aside class="menu">
                        <ul class="menu-list">
                            <li><a class="title-menu"><span>Convivial</span></a></li>
                            <p class="slogan">
                               <span>Mouvement d'insertion</span> 
                                <br>
                                <span>des réfugiés</span>
                            </p>
                        </ul>
                        <p class="menu-label">
                        Vous cherchez à:
                        </p>
                        <ul class="menu-list">
                            <li>
                        <a><strong>S'Installer</strong></a>
                            <ul>
                              <li><a>Service Social</a></li>
                              <li><a>Logement</a></li>
                              <li><a>Aide Matérielle</a></li>
                              <li><a>Réinstallation</a></li>
                            </ul>
                          </li>
                        <li><a><strong>S'Insérer</strong></a>
                          <ul>
                                <li><a>Guidance socioprofessionnelle</a></li>
                                <li><a>Cours de Français</a></li>
                                <li><a>Ateliers</a></li>
                                <li><a>Accompagnement des réfugiés âgés</a></li>
                            </ul>
                        </li>
                    <li><a><strong>Sensibiliser</strong></a></li>
                </ul>
                <p class="menu-label">
                À Propos
                </p>
                <ul class="menu-list">
                    <li><a>Qui sommes-nous ?</a></li>
                    <li><a>Notre Mission</a></li>
                    <li><a>Contact</a></li>
                    <li><a>Newsletter</a></li>
                </ul>
                <p class="menu-label">
                    Mouvement d insertion des Réfugiés
                    <br>
                    Rue du Charroi 33-35, 1190 Bruxelles
                    <br>
                    T 02 503 43 46
                </p>
            </aside>
        </section>
        <section class="column contentContainer is-9">
        <h2>S'installer</h2>
                <h3 class="title is-3">Service social</h3>
                    <p>
                        Au service social, chaque Réfugié est accueilli par un travailleur qui dresse avec lui un bilan de ses difficultés, 
                        besoins, inquiétudes et qui l’aide à se prendre en charge dans la définition d’un nouveau projet de vie. 
                        Une relation de confiance s’établit et un suivi psychosocial est assuré. Cet accompagnement individuel s’adresse spécifiquement 
                        aux Réfugiés et aux bénéficiaires de la protection subsidiaire récemment reconnus et qui s’installent en Belgique 
                        (les deux premières années).
                    </p>
                    <ul class="topics">
                       <li>
                           <h3 class="title is-5">Aide pour les démarches administratives</h3>
                            <p>
                                Convivial accompagne le Réfugié dans les démarches administratives, notamment avec le CPAS, 
                                la commune, la mutuelle, les services publics, les hôpitaux et l’oriente éventuellement vers d’autres services adaptés. 
                                Dans des situations spécifiques, des accompagnements de terrain sont également proposées pour servir de médiateur et d’interprète. 
                                Afin de veiller à la bonne installation des réfugiés dans leur nouveau logement, des visites à domicile sont organisées.
                            </p>
                        </li>
                        <li>
                            <h3 class="title is-5">Aide juridique</h3>
                            <p>
                                Convivial informe le Réfugié sur ses droits et devoirs, le soutient dans des situations complexes de médiation (factures, dettes, 
                                relations avec les pouvoirs publics…), assure le suivi des dossiers et si nécessaire l’oriente vers des cabinets spécialisés.
                                Pour les demandeurs d’asile, des informations de base sur la procédure d’asile sont transmises et les personnes sont informées 
                                sur l’accès aux recours en fin de procédure.
                            </p>
                        </li>
                        <li>
                            <h3 class="title is-5">Aide au regroupement familial</h3>
                            <p>
                                Convivial informe sur les démarches de la procédure de regroupement familial et apporte son soutien dans toutes les étapes de la procédure : 
                                réalisation du dossier, recherche de fonds pour financer les billets d’avion, accueil de la famille regroupée et accompagnement 
                                dans ses démarches d’installation.
                            </p>
                        </li>
                        <p class="tag is-warning">ecoute@convivial.be</p>
                    </ul>

                <h3 class="title is-3">Logement</h3>
                    <p>
                        Le service Logement a pour objectif d’aider les réfugiés à trouver un logement durable, décent et à un prix abordable. 
                        Le logement est en effet la première étape d’un réfugié pour commencer sa nouvelle vie en Belgique. C’est également la première difficulté qu’il rencontre 
                        à la sortie du centre d’accueil.
                        <br>
                        Le service Logement propose aux réfugiés un éventail de services qui leur permettent de trouver un logement et de le gérer en « bon père de famille » :
                    </p>
                    <ul class="topics">
                        <li>
                           <h3 class="title is-5">Recherche d’un logement</h3>
                            <p>
                                Expliquer aux réfugiés comment rechercher un logement, quelles sont les démarches à entreprendre, 
                                et accompagner les plus vulnérables dans leur recherche.
                            </p>
                        </li>
                        <li>
                           <h3 class="title is-5">Information sur les logements</h3>
                            <p>
                                Informer individuellement et collectivement les réfugiés des droits et obligations du locataire et du propriétaire (signature d’un bail, 
                                paiement d’un loyer et de charges), sur la manière d’habiter et d’entretenir le bien, les économies d’énergie, 
                                la sécurité dans le logement et le tri des déchets.
                            </p>
                        </li>
                        <li>
                           <h3 class="title is-5">Accompagnement social</h3>
                            <p>
                                Proposer un accompagnement social des réfugiés afin de rassurer les propriétaires : 
                                visite du logement, signature et explication des clauses de contrat, état des lieux et remise des clés.
                                Proposer un accompagnement de terrain afin de faciliter les démarches administratives liées à l’installation.
                            </p>
                        </li>
                        <li>
                           <h3 class="title is-5">Médiation</h3>
                            <p>
                                En cas de litiges, agir en tant que médiateur entre le réfugié et le propriétaire.
                            </p>
                        </li>
                        <li>
                           <h3 class="title is-5">Fonds de prêt</h3>
                            <p>
                                Octroi de prêts pour le premier mois de loyer ou une partie de la garantie locative afin de soutenir les réfugiés lorsque toutes 
                                les autres solutions envisagées (CPAS, partenariat avec le CIRE pour les garanties locatives sur compte bloqué) s’avèrent impossibles.
                            </p>
                        </li>
                        <li>
                           <h3 class="title is-5">Logements de transit</h3>
                            <p>
                                Convivial met à disposition d’isolés et de familles vulnérables en situation d’urgence et en besoin d’un toit des logements de transit 
                                proposés pour une durée d’un an, le temps d’effectuer les démarches administratives d’installation qui constituent un véritable tremplin 
                                pour un futur logement durable et leur intégration en Belgique.
                            </p>
                        </li>
                        <br>
                         <p>
                            Convivial recherche activement des propriétaires qui acceptent de louer des logements à des réfugiés pour des baux 
                            classiques.
                        </p>
                        <p class="tag is-warning">logement@convivial.be</p>
                    </ul>
                <h3 class="title is-3">Nos spécificités</h3>
                    <p>
                    Un accompagnement global et sur mesure dans la recherche de solutions aux besoins tout au long du parcours d’installation et d’insertion;
                    Des services specialisés s’adaptant continuellement en fonction des besoins;
                    Une combinaison de dispositifs de soutien individuel et de dynamiques collectives;
                    La co-création par les réfugiés et les Belges, avec des refugiés impliqués à tous les niveaux;
                    Un accueil de chaque bénéficiaire dans une langue familière avec une équipe multilingue rassemblant plus de 35 nationalités;
                    Une politique d’insertion par le travail offrant chaque année à une trentaine de personnes la possibilité de s’impliquer
                    dans la vie de l’organisation.
                    </p>  
        </section>
  </body>
</html>
