<!DOCTYPE html>
<html lang="en" dir="ltr">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,400i,500,700" rel="stylesheet">
    <link rel="stylesheet" href="../assets/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script>
    <head>
        <title>Notre Mission</title>
    </head>
    <body class="columns">
        <section class="column is-3 hero is-medium is-warning is-bold index">
                <aside class="menu">
                        <ul class="menu-list">
                            <li><a class="title-menu"><span>Convivial</span></a></li>
                            <p class="slogan">
                               <span>Mouvement d'insertion</span> 
                                <br>
                                <span>des réfugiés</span>
                            </p>
                        </ul>
                        <p class="menu-label">
                        Vous cherchez à:
                        </p>
                        <ul class="menu-list">
                            <li>
                        <a><strong>S'Installer</strong></a>
                            <ul>
                              <li><a>Service Social</a></li>
                              <li><a>Logement</a></li>
                              <li><a>Aide Matérielle</a></li>
                              <li><a>Réinstallation</a></li>
                            </ul>
                          </li>
                        <li><a><strong>S'Insérer</strong></a>
                          <ul>
                                <li><a>Guidance socioprofessionnelle</a></li>
                                <li><a>Cours de Français</a></li>
                                <li><a>Ateliers</a></li>
                                <li><a>Accompagnement des réfugiés âgés</a></li>
                            </ul>
                        </li>
                    <li><a><strong>Sensibiliser</strong></a></li>
                </ul>
                <p class="menu-label">
                À Propos
                </p>
                <ul class="menu-list">
                    <li><a>Qui sommes-nous ?</a></li>
                    <li><a>Notre Mission</a></li>
                    <li><a>Contact</a></li>
                    <li><a>Newsletter</a></li>
                </ul>
                <p class="menu-label">
                    Mouvement d insertion des Réfugiés
                    <br>
                    Rue du Charroi 33-35, 1190 Bruxelles
                    <br>
                    T 02 503 43 46
                </p>
                <a href="http://" class="social"><i class="fab fa-facebook-f fa-2x"></i></a>
                <a href="http://" class="social"><i class="fab fa-instagram fa-2x"></i></a>
                <a href="" class="button donate is-rounded social is-small">Donate</a>
            </aside>
        </section>
        <section class="column contentContainer is-9">
        <h2>Mission</h2>
                <h3 class="title is-3">Notre vision</h3>
                    <p>
                    Né de la rencontre et de l’entraide entre une Belge et une réfugiée rwandaise en 1994,
                    le mouvement Convivial a pour objectif de favoriser l’insertion des réfugiés en Belgique dans
                    une dynamique d’écoute et d’engagement réciproque entre Belges et réfugiés.
                    </p>
                <figure class="image">
                    <img src="../assets/img/cover-3.jpg">
                </figure>    
                <h3 class="title is-3">Notre mission</h3>
                    <p>
                    Convivial accompagne les réfugiés reconnus tout au long de leur parcours,
                    depuis leur installation autonome dans un logement jusqu’aux premiers pas vers la réalisation
                    d’un projet d’insertion sociale et professionnelle. En parallèle, Convivial organise des dispositifs de
                    sensibilisation du grand public et de mise en relation entre citoyens
                    résidents en Belgique et réfugiés.
                    </p>
                <figure class="image">
                    <img src="../assets/img/cover-2.jpg">
                </figure>       
                <h3 class="title is-3">Nos spécificités</h3>
                    <p>
                    Un accompagnement global et sur mesure dans la recherche de solutions aux besoins tout au long du parcours d’installation et d’insertion;
                    Des services specialisés s’adaptant continuellement en fonction des besoins;
                    Une combinaison de dispositifs de soutien individuel et de dynamiques collectives;
                    La co-création par les réfugiés et les Belges, avec des refugiés impliqués à tous les niveaux;
                    Un accueil de chaque bénéficiaire dans une langue familière avec une équipe multilingue rassemblant plus de 35 nationalités;
                    Une politique d’insertion par le travail offrant chaque année à une trentaine de personnes la possibilité de s’impliquer
                    dans la vie de l’organisation.
                    </p>  
        </section>
  </body>
</html>
