<!DOCTYPE html>
<html lang="en" dir="ltr">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,400i,500,700" rel="stylesheet">
    <link rel="stylesheet" href="../assets/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script>
    <head>
        <title>Sensibiliser</title>
    </head>
    <body class="columns">
        <section class="column is-3 hero is-medium is-warning is-bold index">
                <aside class="menu">
                        <ul class="menu-list">
                            <li><a class="title-menu"><span>Convivial</span></a></li>
                            <p class="slogan">
                               <span>Mouvement d'insertion</span> 
                                <br>
                                <span>des réfugiés</span>
                            </p>
                        </ul>
                        <p class="menu-label">
                        Vous cherchez à:
                        </p>
                        <ul class="menu-list">
                            <li>
                        <a><strong>S'Installer</strong></a>
                            <ul>
                              <li><a>Service Social</a></li>
                              <li><a>Logement</a></li>
                              <li><a>Aide Matérielle</a></li>
                              <li><a>Réinstallation</a></li>
                            </ul>
                          </li>
                        <li><a><strong>S'Insérer</strong></a>
                          <ul>
                                <li><a>Guidance socioprofessionnelle</a></li>
                                <li><a>Cours de Langues</a></li>
                                <li><a>Ateliers</a></li>
                                <li><a>Accompagnement des réfugiés âgés</a></li>
                            </ul>
                        </li>
                    <li><a><strong>Sensibiliser</strong></a></li>
                </ul>
                <p class="menu-label">
                À Propos
                </p>
                <ul class="menu-list">
                    <li><a>Qui sommes-nous ?</a></li>
                    <li><a>Notre Mission</a></li>
                    <li><a>Contact</a></li>
                    <li><a>Newsletter</a></li>
                </ul>
                <p class="menu-label">
                    Mouvement d insertion des Réfugiés
                    <br>
                    Rue du Charroi 33-35, 1190 Bruxelles
                    <br>
                    T 02 503 43 46
                </p>
                <a href="http://" class="social"><i class="fab fa-facebook-f fa-2x"></i></a>
                <a href="http://" class="social"><i class="fab fa-instagram fa-2x"></i></a>
                <a href="" class="button donate is-rounded social is-small">Donate</a>
            </aside>
        </section>
        <section class="column contentContainer is-9">
        <h2>Sensibiliser</h2>
                <h3 class="title is-3" id="parcours">Le parcours pédagogique «l’asile pas à pas»</h3>
                    <p>
                        Les demandeurs d’asile et réfugiés sont souvent confrontés à des préjugés dus à un manque de connaissance sur leur parcours, les motifs de leur arrivée en Belgique, leurs difficultés et perspectives d’avenir,…
                    </p>
                    <br>
                    <p>
                        Afin de mieux faire comprendre la réalité et le parcours des réfugiés et de diminuer les préjugés, Convivial propose régulièrement des séances de sensibilisation et d’information destinées au grand public, à des travailleurs sociaux, à des écoles supérieures, …
                    </p>
                    <br>
                    <figure class="image">
                        <img src="../assets/img/cover-5.jpg">
                    </figure>
                    <p>
                        <strong>Le canevas proposé s’articule autour de :</strong>
                    </p>
                    <br>
                    <ul class="topics">
                       <li>
                            <strong>Une animation interactive:</strong>
                            <br>
                            <i>Qu’est-ce qu’un réfugié ?</i>
                            <br>
                            Répartition des réfugiés dans le monde
                        </li>
                        <br>
                        <li>
                            <strong>Une exposition didactique:</strong>
                            <br>
                            <i>Pourquoi le réfugié quitte-t-il son pays ?</i>
                            <br>
                            <i>Le voyage ? Comment arrivent-ils en Belgique et en Europe ?</i>
                            <br>
                            <i>Qu’est-ce que la procédure d’asile ?</i>
                            <br>
                            <i>Comment se passe l’insertion en Belgique une fois le statut obtenu ?</i>
                        </li>
                        <br>
                        <li>
                            Un film ou un témoignage d’un réfugié
                        </li>
                        <br>
                        <li>
                            Une présentation de Convivial
                        </li>
                    </ul>
                    <br>
                    <div class="box">
                        <article class="media">
                            <div class="media-content">
                                <div class="content">
                                    <p><strong class="title is-5">Informations pratiques</strong></p>
                                    <br>
                                    <p><strong>Prochaines sessions :</strong>
                                        <ul>
                                            <li>12 juillet 2018 de 13h à 15h45</li>
                                            <li>28 août 2018 de 13h à 15h45</li>
                                        </ul>
                                    </p>    
                                    <p>Les séances tout public sont organisées lorsque nous avons un minimum de 7 participants. Veuillez vous inscrire via l’adresse <span class="tag is-warning">sensibilisation@convivial.be</span></p>
                                </div>
                            </div>
                        </article>
                    </div>
        </section>
  </body>
</html>
